p {
  text-align: center;
  font-style: bold;
  line-height: 100px;
  color: blue;
  font-family:'Times New Roman', Times, serif;
}

h2 { 
  font-style: italic;
  text-align: center;
  color: orange;
  font-family:'Times New Roman', Times, serif;
}

ul {
  color: purple;
  text-align: left;
  font-style: italic;
}